{% extends "base.html" %}

{% block content %}

    {%if msg%}
        {{msg}}
    {%endif%}

    {%if submitted %}
        <p class="success">Your Friend Request has been submitted</p>
    {% else %}
        <form action="" method="post" novalidate>
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    {% endif %}

{% endblock %}