{% extends "base.html" %}

{% block content %}

    <p>
        Hi, I'm Andrei Pak. </br>
        An Entry Level Software Developer. </br>
        With experience developing Java Applications and Django. </br>
        In pursuit of my Dream Career as a Wizard of Code and Machine Whisperer.
    </p>
    <p>
        I have graduated Seneca College with a Computer Programmer Diploma</br>
        Currently volunteering as a developer for DigLit, with Volunteer Toronto</br>
        Driver Application in effort to help Volunteer drivers to be dispatched </br>
        and coordinated to places of need.
    </p>

    <p>
        I am a problem solver by nature, I have learned through out the years </br>
        to find most efficient approaches as well as present my work with greater </br>
        readability and clarity in order not only to revisit & revise but also to </br>
        collaborate with others with out any delays.
    </p>

    <p>
        Developing and Programming is like conjuring Magic, and this magic </br>
        inspires me everyday to become better and strive for its perfection. </br>
        I am driven to be a Wizard that creates beautifully functional magic, </br>
        rather then illusions of a magician.
    </p>

{% endblock %}