<!DOCTYPE HTML>
{% load static temptag_nav %}
{%checkProfile request%}

<html class="entire">
    <head>
        <meta charset="utf-8">
        <title>Andrei Pak's Portfolio</title>
        <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="sidenav">
            <img src="/static/r2d2silhouette.png" height="190px">
		    <a href="{% url 'index' %}" id="{% curPathID request '/' %}">Home</a>
		    <a href="{% url 'about' %}" id="{% curPathID request '/about' %}">About Me</a>
            <a href="{% url 'projects' %}" id="{% curPathID request '/projects' %}">My Projects</a>
            <a href="{% url 'resume' %}" id="{% curPathID request '/resume' %}">My Resume</a>
            <a href="{% url 'quizzer:main' %}" id="{% curPathID request '/quizzer/' %}">Quizer</a>
            <a 
                href="{% url 'quizzer:quiz-list' %}" 
                id="{% curPathID request '/quizzer/list_quizzes/' %}"
                class="quizInner"
            >List Quizzes</a>
                
            <a 
		        href="{% url 'quizzer:quiz-form' %}" 
		        id="{% curPathID request '/quizzer/create_quiz/' %}"
		        class="quizInner"
	        >Create Quiz</a>

            {%if user.is_authenticated%}
                <p class="greet">Hello, {{user.username}}.</p>
                <a
                    href="{%url 'profile:profile'%}"
                    id="{% curPathID request '/profile/' %}"
                >Your Profile</a>
                <a
                    href="{%url 'profile:friend-request-list'%}"
                    id="{% curPathID request '/profile/friend_request_list/' %}"
                >Friend Requests</a>
                <a
                    href="{%url 'profile:friend-request'%}"
                    id="{% curPathID request '/profile/friend_request/' %}"
                >Add a Friend</a>
                <a
                    href="{%url 'logout'%}?next=/"
                >Log Out</a>
            {%else%}
                <p>Not Logged In.</p>
                <a href="{%url 'login'%}">Log In</a>
            {%endif%}
        </div>
        <h1 class="title">{{ title }}</h1>
        <div class="main">

            {%if msg%}
                {{msg}}
            {%endif%} 
            <!--quizProgressValidation request-->
            <div class="centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>    
</html>