{% extends "base.html" %}

{% block content %}
    {%if msg%}
        {{msg}}
     {%endif%}

    <h1>All Friend Requests</h1>
    <ul>
        <form action="{%url 'profile:friend-request-list' %}" method="post" novalidate>
            <table>
                {{ form.as_table }}
                <tr>
	                <td>&nbsp;</td>
	                <td><input type="submit" name="approve" value="Aprrove"></td>
	                <td><input type="submit" name="decline" value="Decline"></td>
	            </tr>       
            </table>         
            {% csrf_token %}
        </form>
    </ul> 

{% endblock %}