<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <h3>{{object.quiz.name}}</h3><br>
    <ul>
    {%for answer_result in object.answerresult_set.all%}
        <li>
            <b>Question:</b>{{answer_result.question.question}} </br>
            <b>Correct Answer:</b>{{answer_result.question.answer}} </br>
            <b>Result:</b>{{answer_result.result}}</br></br>
        </li>
    {%endfor%}
    </ul>
    <a href="{%url 'quizzer:quiz-detail' pk=object.quiz.id%}">
        Back To Quiz Page
    </a></br>
    <a href="{%url 'quizzer:quiz-total' id=object.quiz.id%}">
        Total Quiz Result
    </a>
{% endblock %}